body{
   background:url(images/beijing.gif)
}
#canvas{
   display:block;
   position: absolute;
   left:50%;
   top:50%;
   margin-left: -300px;
   margin-top: -300px;
   border-top:1px solid red;
   border-left:1px solid red;
   border-right:1px solid yellow;
   border-bottom:1px solid yellow;
   background:url(images/beijing.jpg);
}

#canvas-luoqi{
   position: absolute;
   top:0;
   left:0;
   top:50%;
   left:50%;
   margin-left: -300px;
   margin-top: -300px;
  
}

#canvas-clock{
   position: absolute;
   top:30px;
   left:120px;
}
.windowclock{
   width:200px;
   height:40px;
   position: absolute;
   top:570px;
   right:135px;
   font-weight: bold;
   border:3px solid white;
}

span{
   display: inline-block;
   float:left;
   width:40px;
   height:40px; 
   text-align: center;
   line-height: 40px;
   color:white;
}
